@font-face {
  font-family: "iconfont"; /* Project id 3690614 */
  src: url('iconfont.woff2?t=1665200720064') format('woff2'),
       url('iconfont.woff?t=1665200720064') format('woff'),
       url('iconfont.ttf?t=1665200720064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before {
  content: "\e68b";
}

